body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing:-5px;
  background: #211741;
  background-size: 75%;
  background-position: top;
  background-repeat: no-repeat;
  color: #B9EAEA;
  margin:0;
  padding:0;
  font-weight: 800;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color: #8C90C8;
}
.strikethrough {
  position: relative;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 10px solid #B9EAEA;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

blockquote {
  quotes: "\201D""\201C""\2018""\2019";
  color: #B9EAEA; 
}

blockquote:before {
  position: absolute;
  font-style: normal;
  color: #8C90C8; 
  content: open-quote;
  font-size: 4em;
  top: 0.3em;
  margin-right: -0.4em;
  margin-left: 0.4em;
}

.blockquote-footer, blockquote-footer > a {
  float: left;
  box-shadow: inset 0 -10px 0 #8C90C8;
  color: #B9EAEA; 
}

/* for when a font needs to be smaller than else */
.smaller {
  font-size: 40%;
}

.small {
  font-size: 70%;
}

/* for fancy direction purposes */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.white {
  color: #B8B3BA;
}

/* for other stylezz */

a {
  text-decoration: none;
}

img {
  width:100%;
}

pre {
  font-family: 'Space Mono', monospace;
  color: #B8B3BA;
}

body > div {
  position:absolute;
  top:0px;
  left:0px;
  padding:75px;
  line-height:97%;
}

div.center {
  text-align:center;
}

div.imageText {
  text-shadow:0px 0px 5px rgba(0,0,0,0.2);
}

notes {
  display:none;
}

/* normally not good, but ok in context of full screen directional navigation */
:focus {
  outline: 0;
}
